body
{
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    background-color: #333;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
}

#wrapper
{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid tan;
}

#lognav
{
    height: 35px;
    border: 3px solid #333;
    background-color:  #333;
}
#avatar{
    background-image: url(../Images/user.jpg);
    float: left;
    text-align: right;
    text-height: auto;
    width: 100px;
    height:30px;
    background-size: 30px 30px;
    background-repeat: no-repeat; 
    color: #E3E3E3;
}
#cart{
     background-image: url(../Images/cart.jpg);
    float: left;
    text-align: right;
    text-height: auto;
    width: 100px;
    height:30px;
    background-size: 30px 30px;
    background-repeat: no-repeat; 
    color: #E3E3E3;
    cursor:pointer;
} 

#lognav a
{
    padding-top:2px;
    padding-left: 10px;
    float: right;
    display:block;
    width: 60px;
    height: 25px;
    border: #111;
    background-color: #E3E3E3;
    font-family: arial;
    font-size: 16px;
    color: #111;
    cursor: pointer;
    margin-right: 10px;
    
}

#lognav form {
    float: right;
    margin-right:50px;
}

#lognav form input {
    float: left;
    width: 140px;
    height: 25px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    margin-top: 4px;
}
input[type=button] {
    padding:5px 15px; 
    font-size: 14px;
    border:none;
    width:20px;
    height:10px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: brown;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
     color: white;
     margin-top: 4px;
}

input[type=button]:hover{
    background-color: darkred; /* Green */
    color: white;
} 
#banner
{
    background-image: url(../Images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #111;    
    height: 200px;
}
.page-header
{
    float: left;
    text-align: center;
    margin-left: 10px;
}
#content_area
{
    
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 2px grey;
    color: black;
}
#content_area h1{
    height: 100px;
    background-image: url(../Images/images.jpg);
}
#sidebar
{
    float: right;
    width: 250px;
    height: 400px;
    margin: 20px 10px;
    padding: 10px;
    border: 2px solid #E3E3E3;
}

footer
{
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
}

#navigation
{
    height: 60px;
    border: 3px solid tan;
    
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
}

#nav
{
    list-style: none;
}

#nav ul
{
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li
{
    font-size: 24px;
    float: left;
    position: relative;
    width: 180px;
    height: 50px;
}

#nav a:link, nav a:active, nav a:visited
{
    display: block;
    color: #fff;
    text-decoration: none;
}

#nav a:hover
{
    color: lightblue;
}

.imgLeft
{
    float: left;
    width: 240px;
    height: 150px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight
{
    float: right;
    width: 200px;
    height: 250px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}

.bookTable
{
    width: 750px;
    height: 250px;
    margin: 10px 10px 10px 0;
    border: 3px solid #E3E3E3;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.bookTable tr th, .bookTable tr td
{
    text-align: left;
    padding: 0px 5px 0 5px;
}

.bookTable img
{
    padding: 0px 10px 10px 10px;
    height: 150px;
    width: 150px;
}

#signform{
    width:400px;
    margin-top: 10px;
    padding-top: 30px;
}

#signform input{
    width:90%;
    height:40px;
    padding:0px 5%;
    border: none;
    background-color: #E3E3E3;
    font-family: arial;
    font-size:16px;
    color:#111;
    line-height: 40px;
    margin-botton: 4px;
}

#signform button{
    padding: 0px 5%;
}
.container {
    width: 0px;
    float:left;
}
#categories
{
    height: 1000px;
    width :  300px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em #333;
}

#categories li{
    font-size: 24px;
    width: 180px;
    float:left;
    height: 50px;
}
#banner_fantasy{
    background-image: url(../Images/fantasy.jpg);
    margin-left: 301px;
    border: 5px solid #dedede;    
    height: 150px;
    float:left;
    width :1000px;
    background-position: center;
    right :600px;
    background-repeat: no-repeat;
    background-size: cover;
}
#books{
    
    float: left;
    width: 200px;
    height: 250px;
    padding:10px 5px 15px 20px;
    margin-top: 200px;
    background-size:cover;
    margin-left:20px;
   background-image: url(../Images/lord_of_the_rings.jpg);

}
#img_fantasy{
    
    float: left;
    width: 200px;
    height: 250px;
    padding:10px 5px 15px 20px;
    margin-top: 200px;
    margin-left:20px;
    
    
}
#img_fantasy li
{
    font-size: 24px;
    width: 180px;
    float:left;
    height: 50px;
    margin-top:260px;
    
    
}
.row{
    height: 300px;
    float:left;
    width :1000px;     
    text-shadow: 0em 0em #333;
}
.row ul {
    float: left;
    height: 600px;
    text-shadow: 0.1em 0.1em #333;
    width :  300px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
}
.row1{
    height: 300px;
    float:left;
    width :100%;     
    text-shadow: 0em 0em #333;
}
.row1 ul {
   float: left;
    height: 600px;
    text-shadow: 0.1em 0.1em #333;
    width :  300px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
}

.row ul col-md-3 a{
    height:250px;
}

.row1 ul col-md-31 a{
    height:250px;
}
#banner_childhood{
    background-image: url(../Images/childhood.jpg);
    margin-left: 301px;
    border: 5px solid #dedede;    
    height: 150px;
    float:left;
    width :1000px;
    background-position: center;
    right :600px;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner_search{
    background-image: url(../Images/book5.jpg);
    margin-left: 301px;
    border: 5px solid #dedede;    
    height: 150px;
    float:left;
    width :1000px;
    background-position: center;
    right :600px;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner_childhood row col-md-3{
    height: 300px;
    margin-top:200px;
}
#banner_love{
    background-image: url(../Images/love.jpg);
    margin-left: 301px;
    border: 5px solid #dedede;    
    height: 150px;
    float:left;
    width :1000px;
    background-position: center;
    right :600px;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner_sf{
    background-image: url(../Images/SF.jpg);
    margin-left: 301px;
    border: 5px solid #dedede;    
    height: 150px;
    float:left;
    width :1000px;
    background-position: center;
    right :600px;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner_history{
    background-image: url(../Images/History-banner.jpg);
    margin-left: 301px;
    border: 5px solid #dedede;    
    height: 150px;
    float:left;
    width :1000px;
    background-position: center;
    right :600px;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner_poetry{
    background-image: url(../Images/book4.jpg);
    margin-left: 301px;
    border: 5px solid #dedede;    
    height: 150px;
    float:left;
    width :1000px;
    background-position: center;
    right :600px;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner_humor{
    background-image: url(../Images/humor.jpg);
    margin-left: 301px;
    border: 5px solid #dedede;    
    height: 150px;
    float:left;
    width :1000px;
    background-position: center;
    right :600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.img_childhood{
    float: left;
    width: 200px;
    height: 250px;
    padding:10px 5px 15px 20px;
    margin-top: 200px;
    margin-left:20px;
    
    
}
head {
    height: 100px;
    background-color: brown;
}
.bord{
border-bottom:2px dotted #000000;}
.brdr{
border:2px dashed   #000000;
}
.hdr{
font-size:24px;
text-align:center;
background-color:#CC6666;
}
.bord{
border-bottom:2px dotted #000000;} 
.hdr{
font-size:24px;
text-align:center;
background-color:#CC6666;
}
.form-horizontal{
    margin-buttom: 400px;
}
h3,p,label {
text-align:center;
font-family:'Raleway',sans-serif;
color:#006400
}
h2 {
font-family:'Raleway',sans-serif
}
input {
width:100%;
margin-bottom:20px;
padding:5px;
height:30px;
box-shadow:1px 1px 12px gray;
border-radius:3px;
border:none
}
textarea {
width:100%;
height:80px;
margin-top:10px;
padding:5px;
box-shadow:1px 1px 12px gray;
border-radius:3px
}
#send {
width:103%;
height:45px;
margin-top:40px;
border-radius:3px;
background-color:#cd853f;
border:1px solid #fff;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px
}
div#feedback {
text-align:center;
height:520px;
width:330px;
padding:20px 25px 20px 15px;
background-color:#f3f3f3;
border-radius:3px;
border:1px solid #cd853f;
font-family:'Raleway',sans-serif;
float:left
}
.container {
width:960px;
margin:40px auto
}